.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: lightgrey;
  width: 100%;
  border-radius: 5px;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.3);
}

.title {
  font-size: 32px;
}

.form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.input {
  margin-bottom: 15px;
  border-radius: 5px;
  padding: 5px 10px;
  height: 26px;
  width: 300px;
  border: 1px solid #262626;
  box-shadow: 1px 1px 1px 1px #26262636;
}
.inputError {
  margin-bottom: 15px;
  border-radius: 5px;
  padding: 5px 10px;
  height: 26px;
  width: 300px;
  border: 2px solid #db2518;
}

.jobChecker {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 20px;
  width: 300px;
  margin-bottom: 10px;
}

.checkbox {
  padding: 0;
  margin: 0;
  width: 18px;
  height: 18px;
}
.form button {
  margin-top: 20px;
  height: 26px;
  width: 100px;
  border: 1px solid #262626;
  box-shadow: 1px 1px 1px 1px #26262636;
  border-radius: 8px;
  cursor: pointer;
}
