/* pure css */
.content--aside {
  background-color: #262626;
  border-radius: 5px;
  min-width: 250px;
  max-width: 251px;
  display: flex;
  flex-direction: column;
  padding: 15px 20px;
  color: #fff;
  margin: 0 auto;
  margin-right: 30px;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.3);
}

.content--aside--friends-item img {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  margin: 0 auto;
  padding: 0;
}

.content--aside--nav {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 24px;
  font-weight: 500;
  text-align: left;
  margin-bottom: 100px;
  color: #fff;
}
.content--aside--friends-tittle {
  font-size: 20px;
}
.content--aside--friends-allItem {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 20px;
  max-height: 240px;
  overflow: hidden;
}
.content--aside--friends-item {
  margin: 10px 1px;
  text-align: center;
  cursor: pointer;
  width: 60px;
  height: 60px;
  font-size: 8px;
  text-decoration: none;
  overflow: hidden;
}
.content--aside--friends-item:hover {
  transition: all 0.2s ease-out;
  text-shadow: 0px 0px 10px #fff;
}

.content--nav--item a{
  cursor: pointer;
  text-decoration: none;
  color: inherit;
}

.content--nav--item:hover {
  transition: all 0.3s ease;
  text-shadow: 0px 0px 10px #fff;
}

.content--nav--item:last-child {
  margin-top: 30px;
}

.friends-name{
  color: #fff;
  padding: 0;
  margin: 0;
}