/* pure css */
.content {
  display: flex;
  justify-content: flex-start;
}

.content--main {
  width: 100%;
  background-color: lightgray;
  border-radius: 5px;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.3);
}

.content--main--user {
  margin-left: 10px;
  display: flex;
  justify-content: flex-start;
  text-align-last: left;
  margin-bottom: 20px;
  font-weight: 500;
}
.content--main--user--avatar {
  width: 150px;
  height: 150px;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.3);
  border-radius: 50%;
  margin-right: 50px;
}

.content--main--img {
  display: block;
  width: 100%;
  height: 250px;
  margin-bottom: 30px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.content--main--user--info{
  width: 300px;
  background-color: #fff;
  padding: 10px 20px 5px 10px;
  border-radius: 5px;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.3);
}

.content--main--user--info--about p{
  padding: 0;
  margin: 0;
  font-size: 12px;
}
