.wrapper {
  display: flex;
  justify-content: flex-start;
  background-color: #000;
  border-radius: 10px;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.3);
  width: 100%;
}

.title {
  font-size: 32px;
}

video{
  background-color: #000;
  border-radius: 10px;
}
